* {
  box-sizing: border-box;
}

body {
  background-color: #e6dede;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0;
}

h1 {
  color: blueviolet;
  font-size: 5rem;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  margin: auto;
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #b5b5b5;
}

.todos {
  background-color: white;
  padding: 0;
  margin: 0;
  list-style: none;
}

.todos li {
  padding: 1rem;
  color: rgb(20, 20, 19);
  cursor: pointer;
  border-top: 2px solid #e5e5e5;
}

.todos li.completed {
  text-decoration: line-through;
  color: #8a8888;
}

small {
  margin-top: 3rem;
  text-transform: capitalize;
}
